// This file is used for base styles, mainly things effecting
// the body element and any other high level elements we may target

body {
    -webkit-font-smoothing: antialiased;
    font-size: $base-font-size;
}
