.cal-empty{
    color: $grey;
}

.calendar {
  padding-left: 0;
  @include display(flex);
  @include flex-wrap(wrap);
  @include justify-content(space-between);
  @include align-content(flex-start);
  text-align: left;
  a {
    color: $brand;
  }
  li {
    border: 2px solid transparent;
    display: inline-block;
    line-height: 2em;
    margin-bottom: 5px;
    text-align: center;
    min-height: 25px;
    vertical-align: top;
    width: (35.71px / 280px) * 100%;
    @include transition(none);
    &.selected {
      border: 2px solid $base;
    }
    &.unavailable {
      opacity: 0.3;
    }
    &.full {
      background-size: 5px 5px;
    }
    &.out-of-month {
      pointer-events: none;
      opacity: 0.1;
    }
    &.cal-label {
      span {
          font-weight: 600;
          font-size: 10px;
          color: #a1b2b2;
      }
      h5 {
        display: none;
      }
      height: auto;
    }
  }
  .results{
    line-height: 1.25em;
  }
}

.calendar-nav {
  margin-bottom: -40px;
  text-align: center;
  @include transform(translateY(-100%));
  .container {
    background: white;
    display: inline-block;
    padding: 8px;
  }
  .cal-month {
    color: $sky;
    display: inline-block;
    margin: 0 15px;
    position: relative;
    width: 90px;
  }
}

////\\\\ Desktop Breakpoint *************************

@media screen and (min-width: 1024px) {
  .calendar {
    li {
      min-height: 50px;
      line-height: 2em;
      &.cal-label {
          span {
              display: none;
          }
        h5 {
            display: inline-block;
        }
      }
    }
  }
}
