// Basic select style controls through Select or Die
// https://github.com/vestman/Select-or-Die
//
// If advanced selects are needed on a project, change to Select2
// https://github.com/select2/select2

.sod_select.project-name-select {
    border: 1px solid #4D4D4D;
    box-shadow: none;
    &:before {
        // Controls for top arrow in select
    }
    &:after {
        // Controls for bottom arrow in select
    }
    .sod_list_wrapper {
        border: 1px solid #4D4D4D;
        border-top: 0;
        box-shadow: none;
        margin: 0 0 0 -1px; // Change to align selects
    }
    .sod_option.selected:before {
        background: none; // Disables checkmark for served by SoD
    }
}
