{% extends 'base.html' %}

{% block content %}
<h1>Actions for {{ now|date:"M Y" }}</h1>
<ul class="calendar">
    <li class="cal-label"><h5>Monday</h5></li>
    <li class="cal-label"><h5>Tuesday</h5></li>
    <li class="cal-label"><h5>Wednesday</h5></li>
    <li class="cal-label"><h5>Thursday</h5></li>
    <li class="cal-label"><h5>Friday</h5></li>
    <li class="cal-label"><h5>Saturday</h5></li>
    <li class="cal-label"><h5>Sunday</h5></li>
    {% for day, result in results.iteritems %}
    {% if result %}
        <li>
            <h3><b>{{ day|date:"d" }}</b></h3>
            <div class='results'>
                {% for action in result %}
                <p><a href="{% url 'action_detail' action.pk %}">{{ action.title }}</a></p>
                {% endfor %}
            </div>
        </li>
    {% else %}
    <li class="cal-empty">
      <h3>{{ day.day|stringformat:"02d" }}</h3>
    </li>
    {% endif %}
    {% endfor %}
</ul>
<p>Create a <a href="{% url 'action_create' %}">new action</a>.
{% endblock content %}
