{% extends 'base.html' %}

{% block content %}
<h1>{% if object %}Edit{% else %}Create{% endif %} Action</h1>
<form method="POST" action=".">
    {% csrf_token %}
    {{ form }}
    <input type="submit">
</form>
{% endblock content %}
