{% extends 'base.html' %}

{% block content %}
<h1>Action {{ object.title }}</h1>
<p><b>Description</b><br>{{ object.description }}</p>
<p><b>Assigned to</b><br> {{ object.assigned_to }}</p>
<p><a href="{% url 'action_update' object.pk %}">Edit</a></p>
<p><a href="{% url 'action_delete' object.pk %}">Delete</a></p>
{% endblock content %}
