{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{% block title %}Demo Site{% endblock title %}</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% block css %}
{% endblock css %}
</head>
<body class="{% block body_class %}{% endblock body_class %}">
{% block header %}
<header>
    {% if request.user.is_authenticated %}
        <p>Welcome, {{ request.user.email }}
            <a href="{% url 'logout' %}">Logout</a>
        </p>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
</header>
{% endblock header %}
{% block content %}
{% endblock content %}

{% block footer %}
<footer>
    <div class="content-wrap">
        <p>&copy; {% now "Y" %}</p>
    </div>
</footer>
{% endblock footer %}
{% block base_js %}
{% endblock base_js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
{% block js %}
    <script src="{% static 'js/main.js' %}"></script>
{% endblock js %}
</body>
</html>
