// Using sass-mq https://github.com/sass-mq/sass-mq
$mq-responsive: true;

$mq-breakpoints: (
    mobile: 320px,
    tablet: 600px,
    desktop: 920px,
    wide: 1400px
);

$mq-show-breakpoints: (mobile, tablet, desktop, wide);

@import '../vendor/mq';
